@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  font-family: "Inter", sans-serif;
  background-color: #000;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}
@layer utilities {
  .text-gradient {
    background: linear-gradient(90deg, #d1d5db, #4f46e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .text-gradiente {
    background: linear-gradient(90deg, #d1d5db, #4f46e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
